/backend/node_modules
/backend/src/generated
/backend/prisma/migrations

/frontend/.output
/frontend/.data
/frontend/.nuxt
/frontend/.nitro
/frontend/.cache
/frontend/dist
/frontend/node_modules
/frontend/logs
/frontend/*.log
/frontend/.DS_Store
/frontend/.fleet
/frontend/.idea
/frontend/.env
/frontend/.env.*
/frontend/!.env.example
/frontend/ecosystem.config.cjs