@font-face {
    font-family: 'Oswald';
    src: url('~/assets/fonts/Oswald.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('~/assets/fonts/Roboto.ttf') format('truetype');
}

h2 {
    color: white;
    font-family: 'Oswald';
    line-height: 1.25rem;
}

h3 {
    color: white;
    font-family: 'Roboto';
}